<section [style]="setOnboardImage()" class="wow fadeIn p-0 parallax sm-background-image-center onBoardSection">
  <div class="opacity-extra-medium bg-black"></div>
  <div class="container-fluid position-relative one-fourth-screen">
    <div class="slider-typography">
      <div class="slider-text-middle-main">

        <div class="slider-text-bottom">
          <div
            class="col-12 col-xl-6 col-lg-7 float-right padding-six-lr lg-padding-seven-lr padding-five-tb sm-padding-30px-all last-paragraph-no-margin onboard-bg-opacity">
            <div class="box-separator-line x-dynamic-width bg-white lg-width-120px md-width-90px d-none d-lg-block">
            </div>
            <h1 class="font-weight-600 alt-font text-white width-95 md-width-100 onboard-box-title">{{ title }}</h1>
            <a routerLink="/" target="_blank"
              class="btn btn-medium btn-white margin-5px-top text-link-blue sm-margin-10px-top">Leia o Artigo
              Completo</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
