<header>
  <div class="left-nav">
    <div class="sidebar-part1">
      <a routerLink="/" title="SplashInk Photos" class="logo">
        <video autoplay loop muted playsinline>
          <source src="assets/images/studio_logo.webm" type="video/webm">
          <source src="assets/images/studio_logo.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="sidebar-part2">
      <div class="sidebar-middle">
        <div class="sidebar-middle-menu alt-font font-weight-600">
          <nav class="navbar bootsnav navbar-expand-lg alt-font">
            <div id="navbar-menu" class="collapse navbar-collapse no-padding">
              <ul class="nav navbar-nav margin-80px-bottom">
                <li><a routerLink="/" routerLinkActive="active">Portfolio</a></li>
                <li><a routerLink="pricing" routerLinkActive="active">Preços</a></li>
                <li>
                  <a routerLink="contactus" routerLinkActive="active">
                    Contacte-nos <i class="fas fa-external-link"></i>
                  </a>
                </li>
                <li>
                  <div class="side-left-menu-close close-side"></div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="icon-social-medium sm-display-none">
            <p class="text-extra-small lg-text-center">Encontre-nos nas redes sociais e fique mais próximo de nós.</p>

            <a href="https://www.facebook.com/splashink/" target="_blank" rel="noopener"
              class="text-medium-gray text-light-blue-hover margin-10px-right">
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/SplashinkD/" target="_blank" rel="noopener"
              class="text-medium-gray text-light-blue-hover margin-10px-right">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://500px.com/splashink/" target="_blank" rel="noopener"
              class="text-medium-gray text-light-blue-hover margin-10px-right">
              <i class="fab fa-500px" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/splash.ink/" target="_blank" rel="noopener"
              class="text-medium-gray text-light-blue-hover margin-10px-right">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <div class="right-bg"></div>
        </div>
      </div>
    </div>
    <div class="sidebar-part3">
      <div class="bottom-menu-icon">
        <a href="javascript:void(0);" class="right-menu-button text-extra-dark-gray nav-icon" id="showRightPush">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
  </div>
</header>
