<footer class="footer-center-logo bg-white padding-five-tb sm-padding-30px-tb">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5 text-small text-center alt-font sm-margin-15px-bottom semibold-font">
        © 2007-{{ year | date:'y'}} Este site é alimentado por <a href="http://www.splashink.co" target="_blank"
          title="Splash Ink">Splash Ink</a>.
      </div>
      <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
        <a routerLink="/"><img class="footer-logo" src="assets/images/logo.png" alt="SplashInk Studio Logo"></a>
      </div>
      <div class="col-lg-4 col-md-5 text-left">
        <span class="alt-font text-small margin-20px-right semibold-font"><a href="tel:+244222374145">(+244)-222-374-145</a></span>
        <br><span class="alt-font text-small margin-20px-right semibold-font">suporte@studio.splashink.co</span>
        <br><span class="alt-font text-small margin-20px-right map-link"><a href="">Abrir Localização no Mapa</a></span>
      </div>
    </div>
  </div>
</footer>
