<section class="wow fadeIn py-0 bg-black" style="visibility: visible; animation-name: fadeIn;">
  <div class="container-fluid">
    <div class="row">
      <div class="filter-content overflow-hidden w-100">
        <ul class="portfolio-grid work-4col hover-option4 lightbox-gallery"
          style="position: relative; height: 1638.64px;">
          <li class="grid-sizer"></li>
          <li class="grid-item wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
            <a href="assets/images/alexandru-acea-1160461-unsplash.jpg" title="Festa Porra">
              <figure>
                <div class="portfolio-img bg-extra-dark-gray"><img src="assets/images/alexandru-acea-1160461-unsplash.jpg" alt=""
                    class="project-img-gallery" data-no-retina=""></div>
                <figcaption>
                  <div class="portfolio-hover-main text-center">
                    <div class="portfolio-hover-box vertical-align-middle">
                      <div class="portfolio-hover-content position-relative">
                        <i class="ti-zoom-in text-white-2 fa-2x"></i>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
