<style>
  .title-medium {
    font-size: 24px;
    line-height: 24px;
  }

</style>

<ds-banner-widget></ds-banner-widget>

<ds-filter-widget></ds-filter-widget>

<section class="wow fadeIn no-padding-bottom no-padding-top" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 text-center last-paragraph-no-margin">
        <h5 class="alt-font font-weight-600 text-white text-uppercase title-medium">Temos a sorte de trabalhar com
          Parceiros fantásticos</h5>
      </div>
    </div>
  </div>
  <ds-partner-widget></ds-partner-widget>
</section>

<ds-startnow-widget></ds-startnow-widget>
