<style>
  .title-medium {
    font-size: 24px;
    line-height: 24px;
  }

</style>

<ph-spl-banner-widget></ph-spl-banner-widget>

<ph-spl-filter-widget></ph-spl-filter-widget>

<section class="wow fadeIn no-padding-bottom no-padding-top" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 text-center last-paragraph-no-margin">
        <h5 class="alt-font font-weight-600 text-white text-uppercase title-medium">Temos a sorte de trabalhar com
          Parceiros fantásticos</h5>
      </div>
    </div>
  </div>
  <div class="container-fluid padding-five-lr">
    <div class="row">
      <!-- start work item -->
      <div class="col-12 col-xl-3 col-md-6 banner-style1 lg-margin-30px-bottom wow fadeInUp"
        style="visibility: visible; animation-name: fadeInUp;">
        <figure class="bg-extra-dark-gray">
          <div class="banner-image height-250px cover-background"
            style="background-image:url('https://www.themezaa.com/html/pofo/images/clients-img1.jpg');">
          </div>
          <figcaption>
            <div
              class="d-flex flex-column justify-content-center align-items-center text-center h-100 lg-margin-30px-bottom">
              <div><img src="https://www.themezaa.com/html/pofo/images/logo-18.png" alt="" data-no-retina=""></div>
              <p class="width-80 mx-auto margin-20px-top text-medium-gray sm-width-100">Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since.</p>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end work item -->
      <!-- start work item -->
      <div class="col-12 col-xl-3 col-md-6 banner-style1 lg-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <figure class="bg-extra-dark-gray">
          <div class="banner-image height-250px cover-background"
            style="background-image:url('https://www.themezaa.com/html/pofo/images/clients-img2.jpg');">
          </div>
          <figcaption>
            <div
              class="d-flex flex-column justify-content-center align-items-center text-center h-100 lg-margin-30px-bottom">
              <div><img src="https://www.themezaa.com/html/pofo/images/logo-19.png" alt="" data-no-retina=""></div>
              <p class="width-80 mx-auto margin-20px-top text-medium-gray sm-width-100">Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since.</p>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end work item -->
      <!-- start work item -->
      <div class="col-12 col-xl-3 col-md-6 banner-style1 md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <figure class="bg-extra-dark-gray">
          <div class="banner-image height-250px cover-background"
            style="background-image:url('https://www.themezaa.com/html/pofo/images/clients-img3.jpg');">
          </div>
          <figcaption>
            <div
              class="d-flex flex-column justify-content-center align-items-center text-center h-100 lg-margin-30px-bottom">
              <div><img src="https://www.themezaa.com/html/pofo/images/logo-20.png" alt="" data-no-retina=""></div>
              <p class="width-80 mx-auto margin-20px-top text-medium-gray sm-width-100">Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since.</p>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end work item -->
      <!-- start work item -->
      <div class="col-12 col-xl-3 col-md-6 banner-style1 wow fadeInUp" data-wow-delay="0.6s"
        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
        <figure class="bg-extra-dark-gray">
          <div class="banner-image height-250px cover-background"
            style="background-image:url('https://www.themezaa.com/html/pofo/images/clients-img4.jpg');">
          </div>
          <figcaption>
            <div
              class="d-flex flex-column justify-content-center align-items-center text-center h-100 lg-margin-30px-bottom">
              <div><img src="https://www.themezaa.com/html/pofo/images/logo-21.png" alt="" data-no-retina=""></div>
              <p class="width-80 mx-auto margin-20px-top text-medium-gray sm-width-100">Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since.</p>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end work item -->
    </div>
  </div>
</section>

<section class="wow fadeIn margin-20px-tb" style="visibility: visible; animation-name: fadeIn; padding: 0px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-md-10 text-center">
        <h5
          class="alt-font text-uppercase font-weight-600 text-white width-80 mx-auto margin-15px-bottom lg-width-100 title-medium wow fadeInUp"
          style="visibility: visible; animation-name: fadeInUp;">Nós gostaríamos de ouvir sobre começar seu novo
          projeto?
        </h5>
        <a href="#" class="btn btn-medium btn-rounded btn-transparent-light-gray wow fadeInUp" data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Vamos começar <i
            class="ti-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
