<ds-banner></ds-banner>

<section class="p-0 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  <ds-tags-filter></ds-tags-filter>
  <div class="container-fluid">
    <div class="row blog-post-style4">
      <div class="col-12 px-3 p-md-0">
        <div class="filter-content overflow-hidden">
        <ul class="galleries blog-grid blog-4col gutter-small" style="position: relative; min-height: 450px;">
            <li class="grid-sizer"></li>
            <ds-gallery *ngFor="let gallery of [0]"></ds-gallery>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a routerLink="/galleries" class="btn btn-medium btn-rounded btn-transparent-light-gray wow fadeInUp">
    Ver tudo <i class="ti-arrow-right"></i>
  </a>
  </div>
</section>

<section class="partners wow fadeIn">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 text-center last-paragraph-no-margin">
        <h5 class="alt-font font-weight-600 text-white text-uppercase title-medium">Temos a sorte de trabalhar com
          Parceiros fantásticos</h5>
      </div>
    </div>
  </div>
  <ds-partner></ds-partner>
</section>

<section class="wow fadeIn margin-20px-tb no-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-md-10 text-center">
        <h5
          class="alt-font text-uppercase font-weight-600 text-white width-80 mx-auto margin-15px-bottom lg-width-100 title-medium wow fadeInUp">
          Nós gostaríamos de ouvir sobre começar seu novo
          projeto?
        </h5>
        <a routerLink="/contact-us" class="btn btn-medium btn-rounded btn-transparent-light-gray wow fadeInUp"
          data-wow-delay="0.2s">
          Vamos começar <i class="ti-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
