<li class="grid-item fadeInUp gallery-item" [ngClass]="gallery?.tags">
  <figure>
    <div class="blog-img bg-extra-dark-gray">
      <a [routerLink]="['/galleries', gallery?.id]">
        <img [src]="gallery?.thumbnail" [alt]="gallery?.name">
      </a>
    </div>
    <figcaption>
      <div class="portfolio-hover-main text-left">
        <div class="blog-hover-box align-bottom">
          <span *ngFor="let tag of gallery?.tags"
            class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-5px-bottom sm-margin-5px-bottom">
            <a [routerLink]="['/tags', tag]" class="text-medium-gray">{{ tag }}</a>
          </span>
          <h6 class="alt-font d-block text-white-2 font-weight-600 mb-0">
            <a [routerLink]="['/galleries', gallery?.id, 'Afrikaneeze 2019']"
              class="text-white-2 text-deep-pink-hover">{{ gallery?.name }}</a>
          </h6>
          <p class="text-medium-gray margin-10px-top width-80 md-width-100 blog-hover-text" style="display: none;">
            {{ gallery?.description }}
          </p>
        </div>
      </div>
    </figcaption>
  </figure>
</li>
