<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" [style]="syncBg()">
  <div class="opacity-extra-medium post-bg-opacity"></div>
  <div class="container width-60">
    <div class="row justify-content-center">
      <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center">
          <span
            class="opacity6 alt-font text-extra-light-gray font-weight-600 txt-to-upper-case">{{ doc$.updatedAt.toDate() | date }}</span>
          | <span class="font-weight-600 txt-to-upper-case" *ngFor="let t of doc$.tags"> {{ t }} </span>
          <h1 class="alt-font text-white font-weight-600 letter-spacing-minus-1">Nós combinamos design, pensamento e
            técnica.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<article>
  <section class="wow fadeIn margin-60px-tb" style="padding: 0; visibility: visible; animation-name: fadeIn;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-md-10 last-paragraph-no-margin">
          <p><span
              class="first-letter first-letter-block bg-medium-gray text-extra-dark-gray txt-to-upper-case">{{ startWith }}</span>
          </p>
          <span [innerHTML]="doc$?.body | mdToHtml"></span>
        </div>
      </div>
    </div>
  </section>
</article>
