<section class="wow fadeIn p-0 bg-extra-dark-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        MAP HERE
      </div>
      <div
        class="col-12 col-md-6 padding-six-lr padding-five-half-tb md-padding-ten-half-tb md-padding-twelve-half-lr sm-padding-15px-lr">
        <div class="text-left text-white">
          <div class="text-medium-gray alt-font text-small margin-5px-bottom sm-margin-three-bottom">
            Contacte-nos
          </div>
          <h5 class="margin-55px-bottom text-white-2 alt-font font-weight-700 sm-margin-ten-bottom">
            Entre em Contacto
          </h5>

          <form>
            <div class="row">
              <div class="col-12">
                <div id="success-project-contact-form" class="mx-0"></div>
              </div>
              <div class="col-12 col-lg-12">
                <input type="text" placeholder="Nome completo *"
                  class="bg-transparent border-color-medium-dark-gray medium-input">
              </div>
              <div class="col-12 col-lg-12">
                <input type="text" placeholder="E-mail *"
                  class="bg-transparent border-color-medium-dark-gray medium-input">
              </div>
              <div class="col-12">
                <textarea placeholder="Mensagem" rows="7"
                  class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
              </div>
              <div class="col-12 text-left">
                <button type="submit"
                  class="btn btn-rounded btn-deep-blue btn-medium">
                  Enviar agora <i class="ti-arrow-right font-weight-600"></i>
                </button>
              </div>
            </div>
          </form>

          <div class="container margin-75px-top">
            <div class="row">
              <div class="col-auto margin-10px-right">
                <div class="group">
                  <div class="box">
                    <i class="far fa-phone margin-10px-right"></i>
                  </div>
                  Phone
                </div>
                <a class="h5 text-white" href="tel:+244922679021">+244922679021</a>
              </div>
              <div class="col">
                <div class="group">
                  <div class="box">
                    <i class="far fa-phone margin-10px-right"></i>
                  </div>
                  Email
                </div>
                <a class="h5 text-white" href="mailto:info@splashink.co">info@splashink.co</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
