:host {
  --primary-color: #154EA0;
  --light-color: #FFFFFF;
  --light-gray-color: #C0C0C0;
  --box-color: #FFF;
  --input-color: #FFF;
}

input, textarea {
  color: var(--input-color) !important;
}

.group {
  display: flex;
  gap: 1rem;
  margin-bottom: .5rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-color);
  width: 25px;
  height: 25px;
  border-radius: 5px;
  color: #000001;
}

.btn-deep-blue {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #ffffff
}

.btn-deep-blue:hover,
.btn-deep-blue:focus {
  background: transparent;
  border-color: #FFF;
}

.btn-deep-blue:disabled {
  cursor: not-allowed;
}

.open-in-google-maps {
  width: 100%;
  position: absolute;
  left: 32%;
  bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .map {
    height: 650px;
  }
}
